:root {
    --size: 350px;
    --labelColor: #0056d6; /* any */
    --arrowHeadSize:8; /* number */
    --arrowHeadWidth:; /* number */
    --arrowHeadClosed:false; /* true/false */
    --arrowLineWidth:; /* number */
    --arrowFill:true; /* true/false */
    --arrowColor:; /* any */
    --arrowColorError:; /* any */
    color-scheme: light dark;
    /* background-color: green; */
    font-family: 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
}

:root[theme="dark"] {
    color-scheme: dark;
    --labelColor: #67A4FF;
}

:root[theme="light"] {
    color-scheme: light;
}

body {
    opacity: 1;
    transition: opacity 0.1s;
}

:root:not(.inited)>body {
    opacity: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content>* {
    margin: 1.5em 0.5em;
}

.container {
    width: var(--size);
    height: var(--size);
    position: relative;
    margin-top: 0.5em;
    display: inline-block;
    margin-bottom: 2em;
}

.container>*:not(canvass) {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    /* width: 100%; */
    box-sizing: border-box;
}

input:not([style])

/* prevent flickering on refresh */
    {
    top: -99999vh;
}

input {
    z-index: 1;
    /* border: 0; */
    width: 2em;
}

.table {
    display: table;
}

.result .table > div{
    display: table-row;
}

.result .table > div > span {
    display: table-cell;
}

canvas {
    width: var(--size);
    height: var(--size);
}

.error {
    color: red;
    border-color: red;
    outline-color: red;
    border-style: solid;
}

.result div[id] {
    padding-left: 0.5em;
}

.result .table > div > span {
    padding-left: 0.5em;
    font-weight: bold;
     text-align: start;
}

.result .table > div > span:last-child {
    font-weight: normal;
    /* text-align: end; */
}

/* .result > div > span:first-child
{
  text-align: end;
} */

.result sup,
.result sub {
    font-size: 0.6em;
}

#hidden {
    width: min-content !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    position: absolute !important;
    white-space: pre !important;
    top: -999999vh !important;
}

#reset {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    cursor: pointer;
    margin: 0.5em;
    font-family: monospace;
    height: 1em;
    width: 1em;
    border-radius: 5px;
    text-align: center;
}

#reset:hover {
    opacity: 1;
}

#reset:after {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "✕";
}

/* a:link
{
    text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --labelColor: #67A4FF;
    }
}

.result .table
{
    text-align: end;
}
.result label > label {
    color: var(--labelColor);
}

#coneResult2
{
    --width:320px;
    --height:400px;
    font-size: 1.0em;
    /* font-weight: bold; */
}

.download
{
    margin: 0.5em 0;
}

.download > *:not([href])
{
    /* display: none; */
    opacity: 0.3;
}
.download > *
{
    text-decoration: none;
    vertical-align: bottom;
}
.download > *
{
    margin-left: 0.2em;
}

.download > *::after
{
    height: 32px;
    width: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.download > #dxf::after
{
    content: url("../?dxf_white_black");
}

.download > #pdf::after
{
    content: url("../?pdf_white_black");
}
.download > #png::after
{
    content: url("../?png_white_black");
}
