:root
{
  --size: 300px;
  /* color-scheme: dark light; */
  /* background-color: green; */
}
.container
{
  width: var(--size);
  height: var(--size);
  position: relative;
  top: 1em;
}
.container > *
{
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
input
{
  z-index: 1;
  /* border: 0; */
}
.result
{
  display: table;
}
.result > div
{
  display: table-row;
}
.result > div > span
{
  display: table-cell;
}
img
{
  vertical-align: top;
}

canvas
{
  width: var(--size);
  height: var(--size);
}

.error
{
  color: red;
  border-color: red;
  outline-color: red;
  border-style: solid;
}
